<div
  class="py-10 bg-gradient-to-r from-blue-400 to-blue-700 text-white flex flex-col items-center"
>
  <div class="text-center px-6">
    <h1 class="text-4xl font-bold mb-4">
      Bem vindo à sua lista de Lugares Favoritos!
    </h1>
    <p>
      Explore, organize e compartilhe os lugares incríveis que você adora. Tudo
      em um só lugar
    </p>

    <button
      *ngIf="isLoggedIn()"
      (click)="navigate()"
      class="bg-white text-blue-400 font-semibold py-3 px-8 rounded-full hover:bg-gray-100 flex space-x-3 items-center"
    >
      Olá {{ profile?.name }}, clique aqui para aproveitar o site
    </button>

    <button
      (click)="loginWithGoogle()"
      class="bg-white text-blue-700 font-semibold py-3 px-8 rounded-full hover:bg-gray-100 flex space-x-3 items-center"
    >
      <img src="google.png" width="30" height="30" alt="" />
      Login com Google
    </button>
  </div>
</div>
