<div class="p-4 bg-white shadow">
  <div class="flex flex-col md:flex-row items-center justify-center gap-4">
    <input
      type="text"
      class="w-full border border-gray-300 p-2 rounded shadow-sm focus:ring focus:ring-blue-400"
      placeholder="Pesquisar pelo nome do local"
    />
  </div>

  <select
    class="w-full border border-gray-300 p-2 rounded outline-none shadow-sm focus:ring focus:ring-blue-400"
  >
    <option value="" selected>Todas as Categorias</option>
    <option value="" *ngFor="let category of filterCategories">
      {{ category.name }}
    </option>
  </select>
</div>

<div
  class="p-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 bg-white shadow"
>
  <div
    class="bg-white shadow rounded overflow-hidden"
    *ngFor="let place of places"
  >
    <img
      [src]="place.urlPhoto"
      [alt]="place.name"
      class="w-full h-40 object-cover"
    />
    <div class="p4">
      <h2 class="text-lg font-semibold">{{ place.name }}</h2>
      <p class="text-gray-500">
        Categoria: <span class="text-blue-600">{{ place.category }}</span>
      </p>
      <p class="text-gray-500">Localização: {{ place.localization }}</p>
      <div class="mt-2 flex items-center">
        <span class="text-yellow-500" [innerHTML]="getTotalStars(place)"></span>
        <span class="ml-2 text-gray-600">{{ place.avaliation }}</span>
      </div>
    </div>
  </div>
</div>
